$buttonSize: 20px;
$borderColor: #000000;

.buttonImg{
  width: $buttonSize;
  height: $buttonSize;
}
.seekStyle{
  width: 99%;
}
.divStyle{
  margin-top: 10%;
  width: 25%;
  height: 25%;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 0 50px #777777;
}
.centered{
  padding-left: 30%;

  button{
    margin-left: 2%;
  }
}
.button{
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 10px;
}
.shuffle{
  border-radius: 20%;
  border: none;
  padding-top: 4px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 12%;
  background: transparent;
}
.align{
  padding-bottom: 3%;
}
button:focus{
  outline: 0;
}
button:disabled{
  background: transparent;
}
button:active{
  background: transparent;
}
h1{
  color: black;
  align: center;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}
.invisible{
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
}
.remTime{
  float: right;
}
